:root {
    --primary-color: #2c3e50;
    --bg-color: #f4f7f6;
    --plank-color: #8d6e63;
    --pivot-color: #34495e;
    --accent-color: #3498db;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*statlar*/

.stats-panel {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.stat-box {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.stat-label {
    font-size: 0.75rem;
    color: #7f8c8d;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.stat-value {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
}


/* simülasyon kısmı */

.simulation-area {
    background: white;
    height: 400px; 
    border-radius: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.seesaw-container {
    position: relative;
    width: 500px; 
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}

.seesaw-plank {
    width: 500px; 
    height: 10px;
    background-color: var(--plank-color);
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* burası çubuk animasyonu için */
    transform-origin: center center;
    z-index: 2;
}

.seesaw-pivot {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid var(--pivot-color);
    position: absolute;
    bottom: -40px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

 /* buton ve geçmiş */

.controls {
    text-align: center;
}

.btn-reset {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-reset:hover {
    background-color: #1a252f;
}

.log-area {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    max-height: 150px;
    overflow-y: auto;
    font-size: 0.9rem;
    color: #555;
}

.log-item {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}


